.transform-gpu {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.simple-link {
  text-decoration: underline;

  @include hover-opacity;
}

.opacity-50 {
  opacity: 0.5;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-grid {
  display: grid;
  place-items: center;
  isolation: isolate;

  > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}
