@use "sass:math";

/* Responsive breakpoints */
@mixin layout-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin layout-not-mobile {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin layout-aspect-tablet() {
  @media (max-aspect-ratio: 14/10) {
    @content;
  }
}

@mixin layout-aspect-mobile() {
  @media (max-aspect-ratio: 9/10) {
    @content;
  }
}

@function vw($px-vw, $base-vw: 1440) {
  @return math.div($px-vw * 100vw, $base-vw);
}

@function vh($px-vh, $base-vh: 900) {
  @return math.div($px-vh * 100vh, $base-vh);
}

@function tvw($px-vw, $base-vw: 800) {
  @return math.div($px-vw * 100vw, $base-vw);
}

@function tvh($px-vh, $base-vh: 1200) {
  @return math.div($px-vh * 100vh, $base-vh);
}


@function mvw($px-vw, $base-vw: 375) {
  @return math.div($px-vw * 100vw, $base-vw);
}

@function mvh($px-vh, $base-vh: 667) {
  @return math.div($px-vh * 100vw, $base-vh);
}
